<!-- <div *ngrxLet="game$ as game" id="game"> -->
<div id="game">
  <div
    *ngrxLet="solution() as word"
    class="grid-container"
    [style.--col-grid]="word.length"
  >
    <div
      *ngFor="let ev of evaluations() as lines; let rowIndex = index"
      class="attempt"
    >
      <div
        *ngFor="let _ of ev; let colIndex = index"
        class="letter-container {{ lines[rowIndex][colIndex] }} delay-{{
          colIndex + 1
        }}"
      >
        <div class="letter">
          {{ currentBoard() | letter : rowIndex : colIndex }}
        </div>
      </div>
    </div>
  </div>

  <div class="keyboard">
    <div class="keyboard-line">
      <button appKeyboard type="button" value="a" class="key">A</button>
      <button appKeyboard type="button" value="z" class="key">Z</button>
      <button appKeyboard type="button" value="e" class="key">E</button>
      <button appKeyboard type="button" value="r" class="key">R</button>
      <button appKeyboard type="button" value="t" class="key">T</button>
      <button appKeyboard type="button" value="y" class="key">Y</button>
      <button appKeyboard type="button" value="u" class="key">U</button>
      <button appKeyboard type="button" value="i" class="key">I</button>
      <button appKeyboard type="button" value="o" class="key">O</button>
      <button appKeyboard type="button" value="p" class="key">P</button>
    </div>
    <div class="keyboard-line">
      <button appKeyboard type="button" value="q" class="key">Q</button>
      <button appKeyboard type="button" value="s" class="key">S</button>
      <button appKeyboard type="button" value="d" class="key">D</button>
      <button appKeyboard type="button" value="f" class="key">F</button>
      <button appKeyboard type="button" value="g" class="key">G</button>
      <button appKeyboard type="button" value="h" class="key">H</button>
      <button appKeyboard type="button" value="j" class="key">J</button>
      <button appKeyboard type="button" value="k" class="key">K</button>
      <button appKeyboard type="button" value="l" class="key">L</button>
      <button appKeyboard type="button" value="m" class="key">M</button>
    </div>

    <div class="keyboard-line">
      <button
        [style.--col-key]="1"
        appKeyboard
        type="button"
        value="enter"
        class="key big"
      >
        <mat-icon>keyboard_return</mat-icon>
      </button>
      <button appKeyboard type="button" value="w" class="key">W</button>
      <button appKeyboard type="button" value="x" class="key">X</button>
      <button appKeyboard type="button" value="c" class="key">C</button>
      <button appKeyboard type="button" value="v" class="key">V</button>
      <button appKeyboard type="button" value="b" class="key">B</button>
      <button appKeyboard type="button" value="n" class="key">N</button>
      <button
        [style.--col-key]="9"
        appKeyboard
        type="button"
        value="delete"
        class="key big"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
