:host {
  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    .stat-item {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
  
      .stat-card {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block: 20px;
        background-color: #0e0e0f;
        border-radius: 6px;
  
        .stat-card-value {
          font-size: 28px;
          font-weight: 700;
          color: var(--correct-color);
        }
  
        .stat-card-label {
          display: flex;
          align-items: center;
          height: 30px;
          font-size: 12px;
          color: var(--text-color);
          margin: 0 8px;
        }
      }
    }
  
    .perform {
      h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
      }
  
      .perform-item {
  
        progress {
          accent-color: var(--correct-color);
        }
      }
    }
  
    .solution-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
      width: 100%;
  
      .twitter-btn {
        background-color: var(--correct-color);
        color: var(--text-color);
        padding: .5rem;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
      }
  
      .solution {
        background-color: var(--correct-color);
  
        span {
          padding: 5px;
          text-transform: uppercase;
        }
      }
  
      .sub {
        font-size: 12px;
        font-weight: 700;
        color: hsla(0, 0%, 100%, .5);
      }
  
      .sharedable {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
  }
}

