<h2 class="dialog-title">Statistique</h2>
<div (click)="popupRef.close()" class="close">
  <svg-icon svgName="close" />
</div>

<div class="popup-content">
  <ng-container>
    <div class="stat-item">
      <div class="stat-card">
        <div class="stat-card-value">{{ data.games.length }}</div>
        <div class="stat-card-label">Parties</div>
      </div>
      <div class="stat-card">
        <div class="stat-card-value">{{ percentWin }}</div>
        <div class="stat-card-label">Victoires (%)</div>
      </div>
      <div class="stat-card">
        <div class="stat-card-value">{{ currentStreak }}</div>
        <div class="stat-card-label">Serie actuel</div>
      </div>
      <div class="stat-card">
        <div class="stat-card-value">{{ bestStreak }}</div>
        <div class="stat-card-label">Meilleure série</div>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="perform">
      <br />
      <h2>Performances :</h2>
      <div class="perform-container">
        @for (
          attempts of bestAttempts;
          track i;
          let i = $index;
          let last = $last
        ) {
          <div>
            <div class="perform-item">
              @if (!last) {
                <div class="first-item">{{ i + 1 }} :</div>
              } @else {
                <div class="last-item"><svg-icon svgName="close" /> :</div>
              }
              <progress [value]="attempts * 10" max="100"></progress>
              {{ attempts }}
              <br />
            </div>
          </div>
        }
      </div>
    </div>
  </ng-container>

  <ng-container>
    @if (status() !== 'IN_PROGRESS') {
      <div class="solution-container">
        <div class="sub">Le mot était</div>
        <h2 class="solution">
          @for (s of solution().split(''); track $index) {
            <span>{{ s }}</span>
          }
        </h2>

        <div class="sharedable">
          <button
            [cdkCopyToClipboard]="url()"
            (click)="clipBord()"
            awesomeTooltip="Lien copié"
            [withClick]="true"
            aria-label="Button that displays a tooltip that can be programmatically disabled"
            [cdkCopyToClipboard]="url()"
            class="share-btn"
            type="button">
            <span>Partager</span>
          </button>
        </div>
      </div>
    }
  </ng-container>
</div>
