//  Variables and Theming. For more info, please see:

/**  CSS Variables **/
:root {

  --text-color: hsl(0deg 0% 100%);

  --correct-color: hsl(122deg 47% 45%);
  --absent-color: hsl(240deg 2% 23%);
  --partial-color: hsl(38deg 67% 50%);

  --key-background: hsl(0deg 0% 39%);
  --key-text-color: var(--text-color);
}
