<div class="header--container">
  <div class="title">
    <span>{{ title }}</span>
  </div>

  <div class="navivations--container">
    <svg-icon svgName="bar_chart" (click)="openStatDialog()" />
    <svg-icon svgName="help" (click)="openHelpDialog()" />
  </div>
</div>

<div class="page-container" *ngIf="gameStatus() as gameStatusValue">
  <ng-container [ngSwitch]="gameStatusValue">
    <wd-game *ngSwitchCase="'IN_PROGRESS'" />
    <wd-waiting-board *ngSwitchDefault />
  </ng-container>
</div>
