<mat-toolbar>
  <div class="title">
    <span>{{title}}</span>
  </div>

  <div>
    <button (click)="openStatDialog()" mat-icon-button
      aria-label="Example icon-button with heart icon">
      <mat-icon>bar_chart</mat-icon>
    </button>

    <button (click)="openHelpDialog()" mat-icon-button
      aria-label="Example icon-button with heart icon">
      <mat-icon>help</mat-icon>
    </button>
  </div>

</mat-toolbar>

<div *ngIf="status$ | ngrxPush as status">
  <div [ngSwitch]="status">
    <app-game *ngSwitchCase="'IN_PROGRESS'"></app-game>
    <app-waiting-board [status]="status" *ngSwitchDefault></app-waiting-board>
  </div>
</div>