:host {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-block-end: 1rem;
    padding: 10px 15px 10px 48px;
    min-width: 300px;
    max-width: 400px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: var(--secondary-color);
}