<div id="waiting">
  @if (status(); as statusValue) {
    @if (statusValue === 'WIN') {
      <p class="text">C'est gagné pour aujourd'hui !</p>
    }
    @if (statusValue === 'LOOSE') {
      <p class="text">C'est perdu pour aujourd'hui !</p>
    }
  }
  <p class="text solution">
    @for (item of solution().split(''); track $index) {
      <span>{{ item }}</span>
    }
  </p>

  <div class="text date-container">
    <p class="next-word">Prochain mot dans:</p>
    <p>{{ countdown() }}</p>
  </div>

  <div class="share-container">
    <div>
      <a
        href="javascript:void(0)"
        (click)="clipBord()"
        awesomeTooltip="Lien copié"
        [withClick]="true"
        aria-label="Button that displays a tooltip that can be programmatically disabled"
        [cdkCopyToClipboard]="url()"
        class="share-button"
        >Partager</a
      >
    </div>
  </div>
</div>
