#waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  margin: auto;
  padding: 10px;
  color: white;

  .solution {
    background-color: var(--correct-color);

    span {
      padding: 5px;
      text-transform: uppercase;
    }
  }

  .text {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .next-word {
      color: hsla(0, 0%, 100%, .5);
    }
  }

  .share-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    text-align: center;

    .share-button {
      margin-top: 1rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.1s ease;
      border-radius: 0.5rem;
      background-color: var(--absent-color);
      font-weight: 500;
    }
  }
}
